
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> About</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-10">
                    <p><i class="fa fa-user"></i> Ufuk Enes KURT</p>
                    <p><i class="fa fa-tag"></i> Web - Android & Developer</p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:appsuek@gmail.com"> appsuek@gmail.com</a></p>
                    <p><i class="fa fa-phone"></i><a href="tel:+905541256999"> +90-554-125-6999</a></p>
                    <p><i class="fa fa-map-marker"></i> Ankara, TÜRKİYE</p>  
            </div>
        </div>
    </div>
</div>